main {
  min-height: 80vh;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
.row{
  background-color: rgba(243, 233, 248, 0.925);
}
.col{
  background-color: lemonchiffon;
}
.card-body{
  background-color: rgba(255, 236, 247, 0.883);
}

